$neutral-light: #DAE8FE;
$neutral      : #6E7F97;
$neutral-dark : #282C34;


$primary-50 : #ddf2f1;
$primary-100: #aadeda;
$primary-200: #6ecac3;
$primary-300: #1cb4aa;
$primary-400: #00a497;
$primary-500: #009384;
$primary-600: #008677;
$primary-700: #007667;
$primary-800: #006658;
$primary-900: #004a3b;

// this is a change

$secondary-50 : #e8eaee;
$secondary-100: #c4c9d7;
$secondary-200: #9fa7bc;
$secondary-300: #7c85a0;
$secondary-400: #616b8d;
$secondary-500: #48537d;
$secondary-600: #414c74;
$secondary-700: #394269;
$secondary-800: #32395c;
$secondary-900: #272943;