<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="icon" href="data:,">
    <!-- <link rel"stylesheet: href="css/pico.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ddd77854d8.js" crossorigin="anonymous"></script>
    <title>Todone</title>
  </head>
  <body>
    <main class="container">
      <h1>Create Your VERY OWN Todolist!</h1>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </main>
  </body>
</html>
