<!-- @format -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/ddd77854d8.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
      
        <h1>Todos</h1>
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
        <ul>
          <% todos.forEach( el => { %>
        <!-- ok its false by default  -->
            <% if (el.completed === false) { %>
                  <li class='todoItem' data-id='<%=el._id%>'>
                    <!-- content posted span below here -->
                      <span class="content"><%= el.todo %></span>
                    <!-- buttons start below -->

                        <span class="fa-solid fa-pen-to-square edit" role="img" aria-label="Edit"></span>

                        <span class="fa-solid fa-save save" role="img" aria-label="Save"></span>
                      
                      <span class="fa-solid fa-trash-can del" role="img" aria-label="Delete"></span>

                  </li>
                  <% } else { %>
                    <!-- if its not completed? -->
                    <!-- good todo for someone -->
          <% } %>
          <% }) %>
          </ul>
          <h2><%= user.userName %> has <%= left %> things left to do.</h2>
          <a href="/logout">Logout</a>
      
    </div>

    <script src="js/main.js"></script>
</body>
</html>